
{% extends 'base.html.twig' %}

{% block title %} Bienvenue {% if app.user is not null %} {{app.user.username}} {% endif %}{% endblock %}

{% block body %}
    <div class = "coconuts-article-container">
        <h1 class="coconuts-main-title">Ecrire sur tout... <br> Et surtout sur n'importe quoi !</h1>
        <hr>
        {% if bookmarkedArticles is not empty %}
            <div>
                <h2 class="is-bold">Articles épinglés</h2>
                <div class="bookmarked-articles-homepage">
                    <div class="channel-body-block">
                        {% set mainArticle = bookmarkedArticles|first %}
                        <div class="channel-article-main">
                            <a href="{{ path('article_show', {'id': mainArticle.id})}}">
                                <img class="channel-article-main-pic" src ="{{ vich_uploader_asset(mainArticle) }}" alt="{{ mainArticle.title }}">
                            </a>
                            <div class="channel-article-main-body" >
                                <a href="{{ path('article_show', {'id': mainArticle.id})}}" >
                                    <h5 class="">{{mainArticle.title}}</h5>
                                </a>
                                <p class="">{{mainArticle.description|striptags|slice(0, 200)}}</p>
                            </div>
                        </div>
                        <div class="channel-article-secondary">
                            {% for bookMarkedArticle in bookmarkedArticles|slice(1) %}
                                <div class="channel-article-secondary-item">
                                    <a href="{{ path('article_show', {'id': bookMarkedArticle.id})}}">
                                        <img class="channel-article-secondary-pic" src ="{{ vich_uploader_asset(bookMarkedArticle) }}" alt="{{ bookMarkedArticle.title }}">
                                    </a>
                                    <div class="channel-article-secondary-body" >
                                        <a href="{{ path('article_show', {'id': bookMarkedArticle.id})}}">
                                            <h5 class="">{{bookMarkedArticle.title}}</h5>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>

        {% if arrayOfWritersWithArticle is not empty %}
            <div>
                <h2 class="is-bold">Auteurs favoris</h2>
                <div class="is-space-between">
                    {% for writerWithArticle in arrayOfWritersWithArticle %}
                        <div class="followed-writer-block">
                            <div class="is-row">
                                <a href ="{{ path("user_show", {'id' : writerWithArticle.writer.id }) }}">
                                    <img src="{{ vich_uploader_asset(writerWithArticle.writer) }}" class=" coconuts-round-picture rikiki-img" alt ="{{ writerWithArticle.writer.username }}"/>
                                </a>
                                <a href ="{{ path("user_show", {'id' : writerWithArticle.writer.id }) }}">
                                    <p>{{ writerWithArticle.writer.username }}</p>
                                </a>
                            </div>
                            <div>
                                <div>
                                    {% if writerWithArticle.article|first is not empty %}
                                        {% set article = writerWithArticle.article|first %}
                                        <a href ="{{ path("article_show", {'id' : article.id }) }}" class="is-title">
                                            {{ article.title }}
                                        </a>
                                        <p class="is-secondary"> publié le {{ article.createdAt|date('Y/m') }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endif %}

        {% if arrayOfTrendingArticles is not empty %}
            <div class="coconuts-trending-articles-part">
                <h2 class="is-bold">
                    Publiés dans nos Tendances
                </h2>
                <div class="trending-articles-body">
                    {% for article in arrayOfTrendingArticles %}
                        <div class="medium-width">
                            <a href="{{ path('article_show', {'id': article.id})}}">
                                <img class="thumbail-article-picture" src ="{{ vich_uploader_asset(article) }}" alt="{{ article.title }}">
                            </a>
                            <a href="{{ path('article_show', {'id': article.id})}}" >
                                <h5 class="is-bold mt-10">{{article.title}}</h5>
                            </a>
                            <p class="is-secondary">
                                Ecrit par
                                {% if (article.user is not empty or article.user is not null) %}
                                    <a href="{{ path('user_show', {'id' : article.user.id}) }}">
                                        {{ article.user is not empty ? article.user.username : "utilisateur supprimé"  }}
                                    </a>
                                {% endif %}
                            </p>
                            <p class="overflow-visible">{{article.description|striptags|slice(0, 200)}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}