<div class="story-article border-stylay ">
    <div class="story-article-header is-row">
        <img src="{{ asset('images/icons/iconfinder_expand2_308964.png') }}"
             class="trigger-collapse-articles small-icon"
             data-id ="{{ user.id }}">
        <img src ="{{ vich_uploader_asset(user) }}"
             alt="{{ user.username }}"
             class ="coconuts-round-picture rikiki-img"
        >
        <div class="is-row">
            <div>
                <a href="{{ path('user_show', {'id': user.id})}}" >
                    <p class="is-title">{{user.username}}</p>
                </a>
                <p class="is-secondary">Membre depuis le {{createdAt|date("d-m-Y")}}</p>
            </div>
            <p>{{ isAuthor is defined ? render_author_badge(isAuthor) : ""}} </p>
            <p>{{ isAdmin is defined ? render_channel_admin_badge(isAdmin) : ""}} </p>
            {% if nbOfArticles is defined %}
                <p>Nb d'articles : {{ nbOfArticles }}</p>
            {% endif %}
        </div>
    </div>
    {% if articlesOfWriter is defined %}
        {% for article in articlesOfWriter %}
            <div class="content-to-collapse border-serious" data-id ="{{ user.id }}">
                <a href="{{ path('article_show', {'id': article.id})}}">
                    <p class="is-bold">{{article.title}}</p>
                </a>
                <div class="is-row">
                    <p class="is-secondary">{{article.updatedAt|date("d-m-Y")}} - XX minutes read</p>
                    <i class="fas fa-heart margin-left "></i>
                    <p class="margin-left">{{article.nbOfLikes}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>