
{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class = "coconuts-article-container">
        <div>
            <img class = "coconuts-main-article-picture" src="{{ vich_uploader_asset(article) }}" alt="{{ article.title }}"/>
        </div>
        <br>
        <h1>
            {{ article.title }}
        </h1>
        <h4>
            <span>{{ article.chapeau }}</span>
            <i class="{{ hasBookmark ? "fas" : "far" }} fa-bookmark fa-2x toggle-bookmark-article"
               data-has-bookmark = "{{ hasBookmark == false ? "false" : "true" }}"
               data-article-id = {{ article.id }}>
            </i>
        </h4>
        <div class="row">
            <div class="col-1 ">
                <i class="{{ userHasLiked ? "fas" : "far" }} far fa-heart"></i>
                <span class="dynamic-likes-counter-of-article" data-article_id = "{{ article.id }}">
                    {{article.nbOfLikes}}
                </span>
            </div>
            <div class="col-1 ">
                <i class="fas fa-glasses"></i>
                <span>{{article.nbOfVisits}}</span>
            </div>
            <div class="col-1 ">
                <i class="far fa-comments"></i>
                <span>{{article.nbOfComments}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                {% if article.user is not null %}
                    <img src="{{ vich_uploader_asset(article.user) }}"
                         alt="{{ article.user.username }}"
                         class="coconuts-round-picture rikiki-img"
                    />
                {% endif %}
            </div>
            <div class="col-6">
                <div>
                    {% if article.user is not null %}
                        <a href = "{{ path('user_show', {'id': article.user.id}) }}">
                            Par {{ article.user.username }}
                        </a>
                        <a href="javascript:void(0)"
                           class= "coconuts-follow-button coconuts-toggle-follow
                           {{ isFollowing == false ? 'follow' : 'unfollow' }}"
                        >
                            {{ isFollowing == false ? "S\'abonner" : 'Se désabonner'  }}
                        </a>
                    {% else %}
                        <p>Utilisateur supprimé</p>
                    {% endif %}
                </div>
                <div>
                    {{ article.createdAt|date('M-d') }}
                </div>
                {% if article.channel is not null %}
                    <div class="is-secondary">
                        Paru dans :
                        <a href="{{ path('channel_show', {'idChannel' : article.channel.id}) }}">
                            {{ article.channel.title }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if article.isPublished == false %}
            <span class="draft-badge">BROUILLON</span>
        {% endif %}
        <div>{{ article.description }} </div>
        <br>

        <div>
            Vous avez aimé cet article ? Faites-le savoir à son auteur (qui vous aimera d'autant plus fort!)
            <i class="{{ userHasLiked ? "fas" : "far" }} fa-heart fa-3x {{ article.user is not null ? "toggle-like-article" : ""}}"
               data-article-id = "{{ article.id }}"
               data-has-liked = "{{ userHasLiked == false ? "false" : "true" }}">
            </i>
            <span class="dynamic-likes-counter-of-article" data-article-id = "{{ article.id }}">
                {{article.nbOfLikes}}
            </span>
        </div>
        {% if article.user is not null %}
            {{ render(controller(
                'App\\Controller\\WriterController::displayPartialWriterResumeBlock',
                { 'idWriter': article.user.id }
            )) }}
        {% endif %}
        <!-- BLOC AUTEUR -->
        <input id="visitorId" name="visitorId" type="hidden" value="{{ app.user is null ? "" : app.user.id }}">
        <input id="articleId" name="articleId" type="hidden" value="{{ article.id }}">
        <input id="writerId" name="writerId" type="hidden" value="{{ article.user is not null ? article.user.id : ""}}">
        <input id="isFollowing" name="isFollowing" type="hidden" value="{{ isFollowing == false ? 0 : 1}}">

        <div id="comment-list">
            <div>Commentaires : </div>
            <ul class="coconuts-comment-section">
                <li id = "jquery-hidden-comment-block" class="comment" data-id = "">
                    <div class="comment-info">
                        <a class="comment-username" href="">
                        </a>
                        <span class="comment-date">A l'instant</span>
                    </div>
                    <a class="comment-avatar" href="#">
                        <img class="coconuts-round-picture rikiki-img user-picture"
                             src=""
                             width="35" alt="Profile Avatar" title=""
                        />
                    </a>
                    <p class="comment-body"></p>
                    <i class="fas fa-trash-alt delete-comment-action"></i>
                </li>
                {% if comments is not empty %}
                    {% for comment in comments %}
                        {% if comment.author is not null %}
                            <li class= "comment {{ article.user is not null ? (comment.author.id == article.user.id ? "author-comment" : "user-comment") : "user-comment" }}"
                                data-id = "{{ comment.id }}">
                                <div class="comment-info">
                                    <a class="comment-username" href="{{ path('user_show', {id : comment.author.id}) }}">
                                        {{ comment.author.username }}
                                    </a>
                                    <span class="comment-date">{{ date_calculator.convertToAdaptedDuration(comment.createdAt)}}</span>
                                </div>
                                <a class="comment-avatar" href="{{ path('user_show', {id : comment.author.id}) }}">
                                    <img class="coconuts-round-picture rikiki-img"
                                         src="{{ vich_uploader_asset(comment.author) }}"
                                         width="35" alt="Profile Avatar" title="{{ comment.author.username }}"
                                    />
                                </a>
                                <p class="comment-body">{{ comment.content }}</p>
                                {% if app.user is not null %}
                                    {% if app.user.isAdmin or app.user.id == comment.author.id %}
                                        <i class="fas fa-trash-alt delete-comment-action" data-id=" {{ comment.id }}"></i>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li id="no-commentary">Pas de commentaires à ce jour : </li>
                {% endif %}
                {% if app.user is not null  %}
                    <li class="write-new">
                        <div class="is-row">
                            <div>
                                <label for = "send-comment-input"></label>
                                <textarea name ="send-comment-input"
                                          id="send-comment-input"
                                          class="textarea-stylay"
                                >Entrez un commentaire
                                </textarea>
                                <div>
                                    <button id="send-comment-action">Envoyer</button>
                                </div>
                            </div>
                            <a href="{{ path('user_show', {id : app.user.id}) }}">
                                <img class="coconuts-round-picture rikiki-img" id="visitor-picture"
                                     src="{{ vich_uploader_asset(app.user) }}" data-href="{{ path('user_show', {id : app.user.id} ) }}"
                                     width="35" alt="Profile Avatar" title="{{ app.user.username }}"
                                />
                            </a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if app.user is not null and article.user is not null %}
            {% if app.user.id == article.user.id %}
                <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier votre article</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}