{% extends 'base.html.twig' %}

{% block title %} Channels {% endblock %}

{% block body %}
    <div class="coconuts-article-container">
        {% if subscribedChannelsWithArticles is not empty %}
            <div class="coconuts-subscribed-channels-list">
                <h2 class="channel-header">MES CHANNELS PREFERES</h2>
                {% for subscribedChannelWithArticles in subscribedChannelsWithArticles %}
                    {% set joinChannelStatus = status_generator.getChannelSubscriptionBool(subscribedChannelWithArticles.channel, app.user) %}
                    <div class="coconuts-subscribed-channel-block">
                        <div class="channel-header-block">
                            <div class="channel-header-left">
                                <a href ="{{ path("channel_show", {'idChannel' : subscribedChannelWithArticles.channel.id}) }}">
                                    <h3>{{ subscribedChannelWithArticles.channel.title }}</h3>
                                </a>
                                {{ render_subscriber_of_channel_badge(joinChannelStatus) }}
                                <div class="chapeau">{{ subscribedChannelWithArticles.channel.description }}</div>
                                <div class="secondary-info">
                                    {{ subscribedChannelWithArticles.channel.getNbOfArticles }} articles publiés
                                    {{ subscribedChannelWithArticles.channel.getNbOfChannelSubscriptions }} abonnés
                                </div>
                            </div>
                            <div class="channel-header-right">
                            </div>
                        </div>
                        <div class="channel-body-block">
                            {% if subscribedChannelWithArticles.articles is not empty %}
                                {% set mainArticle = subscribedChannelWithArticles.articles|first %}
                                <div class="channel-article-main">
                                    <a href="{{ path('article_show', {'id': mainArticle.id})}}">
                                        <img class="channel-article-main-pic" src ="{{ vich_uploader_asset(mainArticle) }}" alt="{{ mainArticle.title }}">
                                    </a>
                                    <div class="channel-article-main-body" >
                                        <a href="{{ path('article_show', {'id': mainArticle.id})}}" >
                                            <h5 class="">{{mainArticle.title}}</h5>
                                        </a>
                                        <p class="">{{mainArticle.description|striptags|slice(0, 200)}}</p>
                                    </div>
                                </div>
                                <div class="channel-article-secondary">
                                    {% for article in subscribedChannelWithArticles.articles|slice(1) %}
                                        <div class="channel-article-secondary-item">
                                            <a href="{{ path('article_show', {'id': article.id})}}">
                                            <img class="channel-article-secondary-pic" src ="{{ vich_uploader_asset(article) }}" alt="{{ article.title }}">
                                            </a>
                                            <div class="channel-article-secondary-body" >
                                                <a href="{{ path('article_show', {'id': article.id})}}">
                                                    <h5 class="">{{article.title}}</h5>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div>Aucun article n'est encore paru sur ce channel</div>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{{ path('channel_show', {'idChannel': subscribedChannelWithArticles.channel.id})}}" class="btn btn-primary">
                                Découvrir
                            </a>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if randomChannelsWithArticles is not empty %}
            <div class="coconuts-subscribed-channels-list">
                <h2 class="channel-header">CES CHANNELS POURRAIENT VOUS PLAIRE</h2>
                {% for randomChannelWithArticles in randomChannelsWithArticles %}
                    {% set joinChannelStatus = status_generator.getChannelSubscriptionStatusCode(randomChannelWithArticles.channel, app.user) %}
                    {% set isSubscriberStatus = status_generator.getChannelSubscriptionBool(randomChannelWithArticles.channel, app.user) %}
                    <div class="coconuts-subscribed-channel-block">
                        <div class="channel-header-block">
                            <div class="channel-header-left">
                                <a href ="{{ path("channel_show", {'idChannel' : randomChannelWithArticles.channel.id}) }}">
                                    <h3>{{ randomChannelWithArticles.channel.title }}</h3>
                                </a>
                                {{ render_subscriber_of_channel_badge(isSubscriberStatus) }}
                                <div class="chapeau">{{ randomChannelWithArticles.channel.description }}</div>
                                <div class="secondary-info">
                                    {{ randomChannelWithArticles.channel.getNbOfArticles }} articles publiés
                                    {{ randomChannelWithArticles.channel.getNbOfChannelSubscriptions }} abonnés
                                </div>
                            </div>
                            <div class="channel-header-right">
                                <div>
                                    {{ render_join_channel_badge(joinChannelStatus)}}
                                </div>
                            </div>
                        </div>
                        <div class="channel-body-block">
                            {% if randomChannelWithArticles.articles is not empty %}
                                {% set mainArticle = randomChannelWithArticles.articles|first %}
                                <div class="channel-article-main">
                                    <a href="{{ path('article_show', {'id': mainArticle.id})}}">
                                        <img class="channel-article-main-pic" src ="{{ vich_uploader_asset(mainArticle) }}" alt="{{ mainArticle.title }}" >
                                    </a>
                                        <div class="channel-article-main-body" >
                                            <a href="{{ path('article_show', {'id': mainArticle.id})}}" >
                                                <h5 class="">{{mainArticle.title}}</h5>
                                            </a>
                                        <p class="">{{mainArticle.description|striptags|slice(0, 200)}}</p>
                                    </div>
                                </div>
                                <div class="channel-article-secondary">
                                    {% for article in randomChannelWithArticles.articles|slice(1) %}
                                        <div class="channel-article-secondary-item">
                                            <a href="{{ path('article_show', {'id': article.id})}}">
                                                <img class="channel-article-secondary-pic" src ="{{ vich_uploader_asset(article) }}" alt="{{ article.title }}">
                                            </a>
                                            <div class="channel-article-secondary-body" >
                                                <a href="{{ path('article_show', {'id': article.id})}}">
                                                    <h5 class="small-font">{{article.title}}</h5>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div>Aucun article n'est encore paru sur ce channel</div>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{{ path('channel_show', {'idChannel': randomChannelWithArticles.channel.id})}}" class="btn btn-primary">
                                Découvrir
                            </a>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


    </div>
{% endblock %}