{% extends 'base.html.twig' %}

{% block title %} {% if channel is not null %} {{ channel.title }} {% endif %} {% endblock %}

{% block body %}
    <div class="coconuts-story-container">
        {% if channel is not null %}
            {% set joinChannelStatus = status_generator.getChannelSubscriptionBool(channel, app.user) %}
            {% set isSubscriber = status_generator.getChannelSubscriptionBool(channel, app.user) %}
            <div>
                <h3>{{ channel.title }}</h3>
                {{ render_subscriber_of_channel_badge(isSubscriber) }}
                {{ render_join_channel_badge(joinChannelStatus) }}
                <div class="chapeau">{{ channel.description }}</div>
                <div class="secondary-info">
                    {{ channel.getNbOfArticles }} articles publiés
                    {{ channel.getNbOfChannelSubscriptions }} abonnés
                </div>
            </div>
            <div class="">
                <button class="tab-button coconuts-active" id="articles" data-type="channel-profile">Articles</button>
                <button class="tab-button coconuts-inactive" id="writers" data-type="channel-profile" >Auteurs</button>
                {% if userIsAdminOfChannel %}
                    <button class="tab-button coconuts-inactive" id="subscribers" data-type="channel-profile">Membres</button>
                    <button class="tab-button coconuts-inactive" id="subscription-requests" data-type="channel-profile">Demandes</button>
                {% endif %}
            </div>

            <div id="articles" data-type="channel-profile">
                {% if articles is not null %}
                    {% for article in articles %}
                        {% set hasBookmark = status_generator.getHasBookmarkStatus(article, app.user) %}
                        {% set hasLiked = status_generator.getHasLikedArticleStatus(article, app.user) %}
                        {% include '/article/partials/article_medium_size_block.html.twig' with {'article': article, 'hasLiked': hasLiked, 'hasBookmark': hasBookmark} %}
                    {% endfor %}
                {% else %}
                    <div class="border-stylay ">
                        Pas d'article pour ce membre.
                    </div>
                {% endif %}
            </div>

            <div id="writers" class="coconuts-hide" data-type="channel-profile">
                {% if writersWithRelatedArticles is not null %}
                    {% for writer in writersWithRelatedArticles %}
                        {% include 'user/partial/user_wih_articles_short_table_item.html.twig'
                            with {'user': writer[0], 'articlesOfWriter': writer.articles, 'createdAt':  writer.createdAt} %}
                    {% endfor %}
                {% else %}
                    <div class="border-stylay ">
                        Pas d'article pour ce membre.
                    </div>
                {% endif %}
            </div>
            {% if userIsAdminOfChannel %}
                <div id="subscribers" class="coconuts-hide" data-type="channel-profile">
                    {% if subscribers is not null %}
                        {% for subscriber in subscribers %}
                            {% include 'user/partial/user_wih_articles_short_table_item.html.twig'
                                with {'user': subscriber[0], 'isAuthor': subscriber.isAuthor, 'createdAt':
                                subscriber.createdAt, 'isAdmin' : subscriber.isAdmin, 'nbOfArticles' : subscriber.nbOfArticles } %}
                        {% endfor %}
                    {% else %}
                        <div class="border-stylay ">
                            Pas d'article pour ce membre.
                        </div>
                    {% endif %}
                </div>
                <div id="subscription-requests" class="coconuts-hide" data-type="channel-profile">
                    {% if requests is not empty %}
                        <p>Demandes en attente</p>
                        {% if requests.pending is not empty %}
                            {% for request in requests.pending %}
                                {% include '/channelSubscriptionRequest/partials/request_small_line_list.html.twig' with {'user': request.applicant} %}
                            {% endfor %}
                        {% else %}
                            <p> Pas de demandes en attente</p>
                        {% endif %}

                        <p>Demandes refusées</p>
                        {% if requests.refused is not empty %}
                            {% for request in requests.refused %}
                                {% include '/channelSubscriptionRequest/partials/request_small_line_list.html.twig' with {'user': request.applicant} %}
                            {% endfor %}
                        {% else %}
                            <p> Aucune demande acceptée n'a été retrouvée </p>
                        {% endif %}
                    {% else %}
                        <div class="border-stylay ">
                            Pas de demande refusée retrouvée.
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            No info on this channel
        {% endif %}
        <input id="visitorId" name="visitorId" type="hidden" value="{{ app.user is null ? "" : app.user.id }}">
    </div>
{% endblock %}