{% extends 'base.html.twig' %}

{% block title %} {{ user.username }} {% endblock %}

{% block body %}
    <div class ="coconuts-story-container">
        <div class ="block-user-profile border-stylay ">
            <div class="is-row">
                <div>
                    <p class="is-title">
                        {{ user.username }}
                        <a href="javascript:void(0)"
                           class= "coconuts-follow-button coconuts-toggle-follow
                            {{ isFollowing == false ? 'follow' : 'unfollow' }}"
                        >
                            {{ isFollowing == false ? "S\'abonner" : 'Se désabonner'  }}
                        </a>
                    </p>
                    <p>{{ user.profileDescription }}</p>
                </div>
                <div>
                    <img src="{{ vich_uploader_asset(user) }}"
                         alt="{{ user.username }}"
                         class="coconuts-round-picture small-img"
                    />
                </div>
            </div>
            <div>
                <p class="is-secondary">Membre Coconuts depuis le {{user.createdAt|date("m/d/Y")}}</p>
                <p class="is-secondary">{{user.nbOfSubscribedFollows}} Abonnements {{user.nbOfIncomingFollows}} Abonnés {{user.nbOfArticles}} Articles </p>
            </div>
        </div>

        <div class="">
            <button class="tab-button coconuts-active" id="articles" data-type="user-profile">Articles</button>
            <button class="tab-button coconuts-inactive" id="commentaires" data-type="user-profile" >Commentaires</button>
            <button class="tab-button coconuts-inactive" id="likes" data-type="user-profile">Likes</button>
        </div>

        <hr>

        <div id="articles" data-type="user-profile">
            {% if user.articles is not null %}
                {% for article in user.articles %}
                    {% set hasBookmark = false %}
                    {% set hasLiked = false %}

                    {% if app.user is not null %}
                        {% if app.user.hasBookmarkedArticle(article) == true %}
                            {% set hasBookmark = true %}
                        {% endif %}
                        {% if app.user.hasLikedArticle(article) == true %}
                            {% set hasLiked = true %}
                        {% endif %}
                    {% endif %}

                    {% include "/article/partials/article_medium_size_block.html.twig" with {
                        "article" : article,
                        "hasLiked" : hasLiked,
                        "hasBookmark" : hasBookmark,
                    } %}
                {% endfor %}
            {% else %}
                <div class="border-stylay ">
                    Pas d'article pour ce membre.
                </div>
            {% endif %}
        </div>


        <div id="commentaires"  class="coconuts-hide" data-type="user-profile" class="coconuts-hide">
            {% if user.publishedComments is not empty %}
                    {% for comment in user.publishedComments %}
                        {% set hasBookmark = false %}
                        {#
                            Cette partie est réservée aux futurs marques-page de commentaires.
                            Pour peu que l'on crée cette jointure dès lors, il faudra ajouter un js
                            dédié différent du marques-page article
                            {% if app.user is not null %}
                                {% if app.user.hasBookmarkedArticle(comment) == true %}
                                    {% set hasBookmark = true %}
                                {% endif %}
                            {% endif %}
                        #}
                        <div class="border-stylay ">
                            <div class="story-article-header is-row">
                                <img src ="{{ vich_uploader_asset(comment.author) }}"
                                     alt="{{ comment.author.username }}"
                                     class ="coconuts-round-picture rikiki-img"
                                >
                                <div>
                                    <a href="{{ path('user_show', {'id': comment.author.id})}}">
                                        <p class="is-title">{{comment.author.username}}</p>
                                    </a>
                                    <p class="is-secondary">{{comment.createdAt|date("d-m-Y")}} - XX minutes read</p>
                                </div>
                            </div>
                            <div class="story-comment-body border-stylay ">
                                <a href="{{ path('article_show', {'id': comment.article.id})}}">
                                    <p class="is-title">{{comment.article.title}}</p>
                                </a>
                                <a href="{{ path('article_show', {'id': comment.article.id})}}">
                                    <p class="is-secondary">{{comment.article.user.username}}</p>
                                </a>

                            </div>
                            <div class="story-article-footer">
                                <p class="">{{comment.content}}</p>
                                <div class="story-article-footer">
                                    <i class="far fa-heart toggle-like-article fa-2x"></i>
                                    <span class="dynamic-likes-counter-of-comment" data-comment-id = "{{ comment.id }}">
                                        {{comment.nbOfLikes}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
                <div class="border-stylay ">
                    Aucun commentaire pour ce membre.
                </div>
            {% endif %}
        </div>

        <div id="likes" class = "coconuts-hide" data-type="user-profile" class="coconuts-hide">
            {% if user.publishedLikes is not empty %}
                {% for like in user.publishedLikes %}
                    {% set hasBookmark = false %}
                    {% if app.user is not null %}
                        {% if app.user.hasBookmarkedArticle(like.likedArticle) == true %}
                            {% set hasBookmark = true %}
                        {% endif %}
                    {% endif %}
                    {% set hasLiked = false %}
                    {% if app.user is not null %}
                        {% if app.user.hasLikedArticle(like.likedArticle) == true %}
                            {% set hasLiked = true %}
                        {% endif %}
                    {% endif %}

                    {% include "/article/partials/article_medium_size_block.html.twig" with {
                        "article" : like.likedArticle,
                        "hasLiked" : hasLiked,
                        "hasBookmark" : hasBookmark,
                    } %}

                {% endfor %}
            {% else %}
                <div class="border-stylay ">
                    Aucun like pour ce membre.
                </div>
            {% endif %}
        </div>
        <input id="visitorId" name="visitorId" type="hidden" value="{{ app.user is null ? "" : app.user.id }}">
        <input id="writerId" name="writerId" type="hidden" value="{{ user.id}}">
        <input id="isFollowing" name="isFollowing" type="hidden" value="{{ isFollowing == false ? 0 : 1}}">
    </div>
{% endblock %}